.color-button{
  background-color:#000a0c;
  border:2px solid #982daf;
}

.color-button:hover{
  background-color:#982daf;
  border:2px solid #982daf;
}

.color-jumbotron{
  margin-top: 10px;
  background-color: #000a0c;
  border-style: solid;
  border-color:#982daf;
}

.color-card{
  background-color: #000a0c;
  border-color:white;
}

.color-text{
  color:white;
}
