.color-button{
  background-color:#000a0c;
  border:2px solid #0dbf1f;
}

.color-button:hover{
  background-color:#0dbf1f;
  border:2px solid #0dbf1f;
}

.color-card{
  background-color: #000a0c;
  border:3px solid #982daf;
}

.color-text{
  color:white;
}
